build*/
out/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.img
*.bin.tmp
# save states
*.state
*.zlbstate
*.state.tmp
third_party/SDL3-devel-VC.zip
.vs/

# Visual Studio per-user project settings (*.vcxproj.user)
*.vcxproj.user
